In [ ]:
import pandas as pd
import numpy as np
from sklearn.metrics import confusion_matrix, classification_report

In [ ]:
#getting the dataset

hh = pd.read_csv("voice.csv")

In [ ]:
hh.head()

,meanfreq,sd,median,Q25,Q75,IQR,skew,kurt,sp.ent,sfm,...,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx,label
0,0.059781,0.064241,0.032027,0.015071,0.090193,0.075122,12.863462,274.402906,0.893369,0.491918,...,0.059781,0.084279,0.015702,0.275862,0.007812,0.007812,0.007812,0.000000,0.000000,male
1,0.066009,0.067310,0.040229,0.019414,0.092666,0.073252,22.423285,634.613855,0.892193,0.513724,...,0.066009,0.107937,0.015826,0.250000,0.009014,0.007812,0.054688,0.046875,0.052632,male
2,0.077316,0.083829,0.036718,0.008701,0.131908,0.123207,30.757155,1024.927705,0.846389,0.478905,...,0.077316,0.098706,0.015656,0.271186,0.007990,0.007812,0.015625,0.007812,0.046512,male
3,0.151228,0.072111,0.158011,0.096582,0.207955,0.111374,1.232831,4.177296,0.963322,0.727232,...,0.151228,0.088965,0.017798,0.250000,0.201497,0.007812,0.562500,0.554688,0.247119,male
4,0.135120,0.079146,0.124656,0.078720,0.206045,0.127325,1.101174,4.333713,0.971955,0.783568,...,0.135120,0.106398,0.016931,0.266667,0.712812,0.007812,5.484375,5.476562,0.208274,male

Acoustic Properties Measured

The following acoustic properties of each voice are measured:

•meanfreq: mean frequency (in kHz)

•sd: standard deviation of frequency

•median: median frequency (in kHz)

•Q25: first quantile (in kHz)

•Q75: third quantile (in kHz)

•IQR: interquantile range (in kHz)

•skew: skewness (see note in specprop description)

•kurt: kurtosis (see note in specprop description)

•sp.ent: spectral entropy

•sfm: spectral flatness

•mode: mode frequency

•centroid: frequency centroid (see specprop)

•√peakf: peak frequency (frequency with highest energy)

•meanfun: average of fundamental frequency measured across acoustic signal

•minfun: minimum fundamental frequency measured across acoustic signal

•maxfun: maximum fundamental frequency measured across acoustic signal

•meandom: average of dominant frequency measured across acoustic signal

•mindom: minimum of dominant frequency measured across acoustic signal

•maxdom: maximum of dominant frequency measured across acoustic signal

•dfrange: range of dominant frequency measured across acoustic signal

•modindx: modulation index. Calculated as the accumulated absolute difference between adjacent measurements of fundamental frequencies divided by the frequency range

In [ ]:
#convert the label column into Gender and assign male as 1 female as 0


gender=pd.get_dummies(hh['label'],drop_first=True)

In [ ]:
hh['Gender']=gender

In [ ]:
hh.head()

,meanfreq,sd,median,Q25,Q75,IQR,skew,kurt,sp.ent,sfm,...,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx,label,Gender
0,0.059781,0.064241,0.032027,0.015071,0.090193,0.075122,12.863462,274.402906,0.893369,0.491918,...,0.084279,0.015702,0.275862,0.007812,0.007812,0.007812,0.000000,0.000000,male,1
1,0.066009,0.067310,0.040229,0.019414,0.092666,0.073252,22.423285,634.613855,0.892193,0.513724,...,0.107937,0.015826,0.250000,0.009014,0.007812,0.054688,0.046875,0.052632,male,1
2,0.077316,0.083829,0.036718,0.008701,0.131908,0.123207,30.757155,1024.927705,0.846389,0.478905,...,0.098706,0.015656,0.271186,0.007990,0.007812,0.015625,0.007812,0.046512,male,1
3,0.151228,0.072111,0.158011,0.096582,0.207955,0.111374,1.232831,4.177296,0.963322,0.727232,...,0.088965,0.017798,0.250000,0.201497,0.007812,0.562500,0.554688,0.247119,male,1
4,0.135120,0.079146,0.124656,0.078720,0.206045,0.127325,1.101174,4.333713,0.971955,0.783568,...,0.106398,0.016931,0.266667,0.712812,0.007812,5.484375,5.476562,0.208274,male,1

In [ ]:

#checking values

print(hh['Gender'].unique())

[1 0]

In [ ]:
#shape

hh.shape

(3168, 22)

In [ ]:
hh.describe(include = "all")

,meanfreq,sd,median,Q25,Q75,IQR,skew,kurt,sp.ent,sfm,...,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx,label,Gender
count,3168.000000,3168.000000,3168.000000,3168.000000,3168.000000,3168.000000,3168.000000,3168.000000,3168.000000,3168.000000,...,3168.000000,3168.000000,3168.000000,3168.000000,3168.000000,3168.000000,3168.000000,3168.000000,3168,3168.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,male,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1584,NaN
mean,0.180907,0.057126,0.185621,0.140456,0.224765,0.084309,3.140168,36.568461,0.895127,0.408216,...,0.142807,0.036802,0.258842,0.829211,0.052647,5.047277,4.994630,0.173752,NaN,0.500000
std,0.029918,0.016652,0.036360,0.048680,0.023639,0.042783,4.240529,134.928661,0.044980,0.177521,...,0.032304,0.019220,0.030077,0.525205,0.063299,3.521157,3.520039,0.119454,NaN,0.500079
min,0.039363,0.018363,0.010975,0.000229,0.042946,0.014558,0.141735,2.068455,0.738651,0.036876,...,0.055565,0.009775,0.103093,0.007812,0.004883,0.007812,0.000000,0.000000,NaN,0.000000
25%,0.163662,0.041954,0.169593,0.111087,0.208747,0.042560,1.649569,5.669547,0.861811,0.258041,...,0.116998,0.018223,0.253968,0.419828,0.007812,2.070312,2.044922,0.099766,NaN,0.000000
50%,0.184838,0.059155,0.190032,0.140286,0.225684,0.094280,2.197101,8.318463,0.901767,0.396335,...,0.140519,0.046110,0.271186,0.765795,0.023438,4.992188,4.945312,0.139357,NaN,0.500000
75%,0.199146,0.067020,0.210618,0.175939,0.243660,0.114175,2.931694,13.648905,0.928713,0.533676,...,0.169581,0.047904,0.277457,1.177166,0.070312,7.007812,6.992188,0.209183,NaN,1.000000
max,0.251124,0.115273,0.261224,0.247347,0.273469,0.252225,34.725453,1309.612887,0.981997,0.842936,...,0.237636,0.204082,0.279114,2.957682,0.458984,21.867188,21.843750,0.932374,NaN,1.000000

In [ ]:
hh.dtypes

meanfreq    float64
sd          float64
median      float64
Q25         float64
Q75         float64
IQR         float64
skew        float64
kurt        float64
sp.ent      float64
sfm         float64
mode        float64
centroid    float64
meanfun     float64
minfun      float64
maxfun      float64
meandom     float64
mindom      float64
maxdom      float64
dfrange     float64
modindx     float64
label        object
Gender        uint8
dtype: object

In [ ]:
X = hh.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]]
Y = hh.iloc[:,[21]]

In [ ]:
X.head()

,meanfreq,sd,median,Q25,Q75,IQR,skew,kurt,sp.ent,sfm,mode,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx
0,0.059781,0.064241,0.032027,0.015071,0.090193,0.075122,12.863462,274.402906,0.893369,0.491918,0.000000,0.059781,0.084279,0.015702,0.275862,0.007812,0.007812,0.007812,0.000000,0.000000
1,0.066009,0.067310,0.040229,0.019414,0.092666,0.073252,22.423285,634.613855,0.892193,0.513724,0.000000,0.066009,0.107937,0.015826,0.250000,0.009014,0.007812,0.054688,0.046875,0.052632
2,0.077316,0.083829,0.036718,0.008701,0.131908,0.123207,30.757155,1024.927705,0.846389,0.478905,0.000000,0.077316,0.098706,0.015656,0.271186,0.007990,0.007812,0.015625,0.007812,0.046512
3,0.151228,0.072111,0.158011,0.096582,0.207955,0.111374,1.232831,4.177296,0.963322,0.727232,0.083878,0.151228,0.088965,0.017798,0.250000,0.201497,0.007812,0.562500,0.554688,0.247119
4,0.135120,0.079146,0.124656,0.078720,0.206045,0.127325,1.101174,4.333713,0.971955,0.783568,0.104261,0.135120,0.106398,0.016931,0.266667,0.712812,0.007812,5.484375,5.476562,0.208274

In [ ]:
Y.head()

   Gender
0       1
1       1
2       1
3       1
4       1

In [ ]:
#splitting the test and train dataset

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y,test_size= 0.35)
print(X_train.shape)
print(y_test.shape)

(2059, 20)
(1109, 1)

In [ ]:
#training the model

from sklearn.neural_network import MLPClassifier

In [ ]:
mlp = MLPClassifier(max_iter=500, activation='relu')
mlp

MLPClassifier(max_iter=500)

In [ ]:
#training

mlp.fit(X_train,y_train.values.ravel())

MLPClassifier(max_iter=500)

In [ ]:
pred = mlp.predict(X_test)
pred

array([1, 1, 1, ..., 1, 0, 1], dtype=uint8)

In [ ]:
#confusion matrix

from sklearn.metrics import classification_report,confusion_matrix

confusion_matrix(y_test,pred)

array([[497,  52],
       [ 20, 540]])

In [ ]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.96      0.91      0.93       549
           1       0.91      0.96      0.94       560

    accuracy                           0.94      1109
   macro avg       0.94      0.93      0.93      1109
weighted avg       0.94      0.94      0.94      1109

In [ ]:
#confusion matrix representation

pd.DataFrame(confusion_matrix(y_test,pred),columns=['Predicted No','Predicted Yes'],index=['Actual No','Actual Yes'])

            Predicted No  Predicted Yes
Actual No            497             52
Actual Yes            20            540